@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import "react-datepicker/dist/react-datepicker.css";
@import "variables";

.invalid-feedback {
  display: block !important;
  color: $danger;
}

body {
  background-color: #eef2f5;
}

.custom-icon {
  height: $font-size-base * .75;
  width: $font-size-base * .75;
}

.icon-hover:hover {
  color: $danger;
}

@include media-breakpoint-down(sm) {

}

@include media-breakpoint-down(md) {
  .navbar-nav .nav-link {
    height: $spacer * 2 !important;
  }

  .navbar {
    padding: $spacer * .5;
  }

  .navbar-brand, .navbar-brand.img {
    height: $spacer * 3;
  }
}

.table-col-min-width {
  width: 1%;
  max-width: min-content;
}

.table {
  font-size: $font-size-base * .875;

  &.participants-table {
    .table-col-min-width {
      width: 1%;
      max-width: min-content;
    }

    @include media-breakpoint-up(xl) {
      width: 150%;
    }
  }
}

.card {
  font-size: $font-size-base * .75;
  height: 320px;

  &-header {
    display: flex;
    height: 64px;
    min-height: 64px;
    align-items: center;
    justify-content: center;
  }

  &-body {
    padding-top: $spacer * .5;
    overflow-y: auto;
  }

  &-footer {
    background-color: $white !important;
    padding-bottom: $spacer;
  }
}

.navbar-nav {
  .nav-link {
    font-size: $font-size-base * .75;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

.nav {
  &.nav-link {
    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  font-weight: $font-weight-light;
}

.custom-delete-button:hover {
  color: $danger;
}

.btn {
  &.btn-secondary {
    background-color: $gray-300 !important;
  }

  &.btn-link {
    text-decoration: none;
    font-size: $font-size-base * .875;
    font-weight: bold;

    &:hover {
      background-color: transparent;
    }
  }
}
