$primary: #005aa1;
$secondary: #7E7E7E;
$border-radius: 0;
$card-border-width: 0;
$font-family-base: "Open Sans", sans-serif;
$nav-link-color: $secondary;
$nav-link-font-weight: 700;
$navbar-padding-y: 0;
$navbar-brand-padding-y: 0;
$navbar-nav-link-padding-x: 16px;
$nav-tabs-link-active-bg: $primary;
$navbar-light-active-color: #FFF;
$navbar-light-hover-color: $primary;
$nav-tabs-border-width: 0;
$grid-columns: 24;
$font-size-base: 1rem;
$h1-font-size: 2rem;
$h2-font-size: 1.375rem;
$font-weight-base: 400;
$table-th-font-weight: $font-weight-base;
$white: #FFF;
$card-bg: $white;
$bg-light: $white;
$spacer: 1rem;
$card-cap-padding-x: $spacer;
$font-weight-light: 300;
$gray-300: #dee2e6;
$btn-border-radius: 4px;
$btn-border-width: 0;
$btn-padding-y: .2rem;
$gray-800: #343a40;
$input-border-color: $gray-800;
$border-radius-sm: .25rem;
$input-border-radius: $border-radius-sm;
$zindex-popover: 1070;
$red: #dc3545;
$danger: $red;
$btn-link-hover-color: $danger;
$btn-link-color: $secondary;
